<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Inscription à un event</h1>
    <h3>Bonjour <%= @participation.user.first_name%>!</h3>
    <p>
      Nous confirmons votre participation à l'évenement : <%=@event.title%>
    </p>
    </br>
    <h3>Informations sur l'evement :</h3>
    <pre>
       Adresse : <%=@event.location%>
       Date : <%=@event.start_date%>
       Durée : <%=@event.duration%> minutes
       Prix : <%=@event.price%>
       Description : 
          <%=@event.description%>
     </pre>
    </br>
    </br>
    <p>
      Pour accéder à ton espace client, connecte-toi via : 
      <a href="<%= @url %>">https://eventbritetantely.herokuapp.com/</a>.
    </p>
    <p> À très vite sur Eventbrite !
  </body>

  <ul class="navbar-nav">
                  <% if user_signed_in? %>
                    <li class="nav-item dropdown">
                      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= current_user.email %>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <%= link_to "Voir profil", "#", class: "dropdown-item" %>
                        <div class="dropdown-divider"></div>
                        <%= link_to "Se déconnecter", destroy_user_session_path, class:"dropdown-item", method: :delete %>
                      </div>
                    </li>
                  <% else %>
                    
                    <li class="btn-group">
                      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        S'inscrire / Se connecter
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <%= link_to "Inscription", new_user_registration_path, :class => "dropdown-item" %>
                        <div class="dropdown-divider"></div>
                        <%= link_to "Connexion", new_user_session_path, :class => "dropdown-item" %>
                      </div>
                    </li>
                  <% end %>
    </ul>
</html>